*,
html,
:root {
  --platform-background: #101012 !important;
  --border-color: #202229 !important;
  --background-secondary: linear-gradient(
    lch(2.467 0 272 / 0.4),
    lch(2.467 0 272 / 0.1) !important;
  ) !important;
}
.stupid-column-edit {
  margin-bottom: 0;
  background: transparent !important;
}
.kanban-column {
  display: flex;
  flex-direction: column;
  margin-bottom: 0 !important;
  height: 100% !important;
  border-radius: 5px !important;
}
.column-cards-wrapper {
  height: 100% !important;
  max-height: 100% !important;
  scrollbar-width: thin !important;
}
.kanban-card {
  padding: 10px;
  font-size: 12px !important;
}
.kanban-card-title .kanban-card-title-wrap {
  font-size: 13px !important;
}
#filterChatrooms li a {
  opacity: 0.8;
}
#filterChatrooms li a:hover {
  opacity: 1;
}
.kanban-card-users {
  margin: 0;
}
.kanban-card-info {
  align-items: center;
}
.kanban-card-users-image {
  border: 1px solid var(--border-color);
}
